- provide(:title, "Sign in")

.darkblue
  .center.title
    %h1 Sign In

  .user.col-md-4.col-md-offset-4
    =form_for(:session, url: sessions_path) do |f|
      .form-group
        =f.label :username
        =f.text_field :username
      .form-group
        =f.label :password
        =f.password_field :password
      .button.inpanel
        =f.submit "Sign in", class: "btn btn-default"

    %p New user? #{link_to "Sign up now!", signup_path}