%h1 @user.username
%h3 My trails:
%ol
- @user.created_trails.each do |trail|
	%li "#{trail.name}"
		%ul
			%li Description: "#{trail.description}"
			%li Popularity: "#{trail.popularity}"
			%li Length of Trail: "#{trail.length}"
	