%nav{class: "header cf"}
  =render 'shared/info_header'
  .compass
    =image_tag "compass_cropped.png"
  =render 'shared/user_header'    


- if flash[:success]
  %p= flash[:success]
- elsif flash[:error]
  %p= flash[:error]