%ul{class: "left scroll-header", data:{scroll:{header:"true"}}}

  %li 
    %a{class: "#logo", href: "#hero", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "false"}}GeoTreasure
  %li
    %a{href: "#about", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "false"}}About GeoTreasure
  %li
    %a{href: "#instructions", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "false"}}How It Works
  %li
    %a{href: "#start", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "false"}}Get Started



=javascript_include_tag :smooth_scroll