%ul{class: "left", data:{scroll:{header:"true"}}}

  / %li 
  /   %a{class: "#logo", href: "#hero", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "false"}}GeoTreasure
  - if !@home_page
    %li
      %a{href: "/#hero", class: "logo", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "true"}}GeoTreasure
  - if @home_page
    %li
      %a{href: "#about", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "true"}}About GeoTreasure
    %li
      %a{href: "#instructions", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "true"}}How It Works
    %li
      %a{href: "#start", data: {scroll: "true", speed: "500", easing: "easeInOutCubic", url: "true"}}Get Started

