

%div{id: "trails_carousel", class: "carousel slide", data:{ride:"carousel"}}

  .carousel-inner{style: "height: 500px;"}
    -@trails_triplets.each_with_index do |trail_triplet, i|
      -if i == 0
        .item.active
          -trail_triplet.each do |trail_arr|
            .static_trail
              %img{src: trail_arr[1], class: "left"}
              %h3= trail_arr[0].name
      -else 
        .item
          -trail_triplet.each do |trail_arr|
            .static_trail
              %img{src: trail_arr[1], class: "left"}
              %h3= trail_arr[0].name

  %a{class: "left carousel-control", href: "#trails_carousel", data:{slide: "prev"}}
    %span{class: "glyphicon glyphicon-chevron-left"}
  %a{class: "right carousel-control", href: "#trails_carousel", data:{slide: "next"}}
    %span{class: "glyphicon glyphicon-chevron-right"}



