
%div{id: "hero", data:{speed: "2"}}
  .row
    %h1{class: "col-md-9 col-md-offset-1"} Make trails. Add treasure. Share with friends.

.section_index{id: "about"}
  .container{class: "section_body"}
    %h1{class: "section_header"} About GeoTreasure
    %p
      <span>Remeber those treasure hunts you went on as a kid?</span>
      GeoTreasure connects the virtual and physical world by letting you create treasure hunt trails that you can send your friends along. Using Google Maps API, GeaTreasure allows you to drop pins across a map that you would like to send your friends along and upload media "treasure" (videos, songs, pictures and text) to those pins. Your friends will only be able to see the content you've uploaded to a pin when they are at the pins location.
    %p 
      GeoTreasure is great for if you're looking to send your tourist friends on a tour of your city, or simply for having fun. <a href="/signup">Sign up</a> and start making trails now! 

  
.section_index{id: "instructions"}
  .row
    %h1{class: "section_header col-md-12"} How It Works
  .container
    %p Set your pins, give them nicknames, re-order them, and add your treasure! 
    .row
      .col-md-4.tutorial-pic
        %a{"data-target" => "#PinsSet", "data-toggle" => "modal"}
          =image_tag("GeoTreasure_Tutorial/GEO_PinsAreSet.png")
      .col-md-4.tutorial-pic
        %a{"data-target" => "#UploadMedia", "data-toggle" => "modal"}
          =image_tag("GeoTreasure_Tutorial/GEO_UploadMedia.png")
      .col-md-4.tutorial-pic
        %a{"data-target" => "#StamenMap", "data-toggle" => "modal"}
          =image_tag("GeoTreasure_Tutorial/GEO_StamenMap.png")
    / Button trigger modal
  
  #PinsSet.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title{style: "color: black; text-align: center;font-size: 2em;"} Set your pins and give them nicknames
        .modal-body
          .tutorial-pic
            =image_tag("GeoTreasure_Tutorial/GEO_PinsAreSet.png", style: "width: 70%; margin-bottom: 50px;")
        .modal-footer
          

  #UploadMedia.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title{style: "color: black; text-align: center;font-size: 2em;"} Upload media to those pins
        .modal-body
          .tutorial-pic
            =image_tag("GeoTreasure_Tutorial/GEO_UploadMedia.png", style: "width: 70%;")
        .modal-footer
        
  #StamenMap.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title{style: "color: black; text-align: center;font-size: 2em;"} Send a beautified version of your map to a friend!
        .modal-body
          .tutorial-pic
            =image_tag("GeoTreasure_Tutorial/GEO_StamenMap.png", style: "width: 70%;")
        .modal-footer
          
               
            
       

%div{class: "absolute"}
  .section_index{id: "start", data: {speed: 4}}
    .signup_headers
      .container
        .row
          .col-md-6
            %h1= link_to "Browse Trails", trails_path
          .col-md-6
            %h1= link_to "Sign Up", signup_path



=javascript_include_tag :smooth_scroll
=javascript_include_tag :index

