= render 'shared/persist_pins_div'

%h1 New Map

.row
  #map-canvas.col-md-8
  %input{id: "pin", class: "controls", type: "text", placeholder: "Search"}

  = render 'form'

= javascript_include_tag :pins