= render 'shared/persist_pins_div'

.row.map-container
  .left-panel.col-md-2
    .left-container
      %h3 Make A New Map
      %p Instruction Instruction
      %p More instructions
      %p i hate everything

  #map-canvas
  %input{id: "pin", class: "controls", type: "text", placeholder: "Search"}

  .right-panel.col-md-2
    .right-container
      = render 'form'


= javascript_include_tag :pins