= render 'shared/persist_pins_div'

.row.map-container
  .left-panel.col-md-2.nogutter
    .left-container
      %h3 Make A New Map
      %p Set pins by typing an address into the search bar and clicking on any of the resulting pins, or by double-clicking at any point on the map.
      %p Zoom in and out using the mousewheel to zero in on the exact spot - or street corner - you want.
      %p Don't worry about the order in which you set down your pins - you'll be able to change that on the next page!

  .center-panel.col-md-8.nogutter
    #map-canvas.large
    #search
      %input{id: "pin", class: "controls", type: "text", placeholder: "Search"}

  .right-panel.col-md-2.nogutter
    .right-container
      = render 'form'

= javascript_include_tag :pins