// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 30px 0px;
}

.hero {
  background-image: url(old_map2.jpg);
  height: 500px;
  text-align: center;
}

.hero h1 {
  z-index: 0;
  color: white;
  margin: 60px 0px 0px 40px ;
  text-align: left;
  font-size: 3em;
}

.center, footer {
  text-align: center;
}

footer {
  padding: 30px;
}

.container {
  width: 70%
}

.button {
  padding: 20px 0px;
}