// Place all the styles related to the Trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 400px;
}

#map-canvas.small {
  height: 300px;
  width: 500px;
  margin: 0px auto;
}

.controls {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}
